default/flows/AfterCreateUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>AssignmentServiceResource</name>
        <label>Assignment Service Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceResource.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResource.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResource.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResource.ResourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResource.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ServiceResourceRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentServiceResourcesSkill</name>
        <label>Assignment Service Resources Skill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceSkill.SkillId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceSkill.EffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceSkill.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceSkill.SkillLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmenttoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmenttoList</name>
        <label>Assignment to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListServiceResourceSkill</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceResourceSkill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopServiceResource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RoleRunning</name>
        <label>Role Running</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetSkill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tramitador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tramitador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSkill</targetReference>
            </connector>
            <label>Tramitador</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp;  &apos; &apos;&amp;  {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>After Create | User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Create | User</label>
    <loops>
        <name>LoopServiceResource</name>
        <label>Loop Service Resource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetSkill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentServiceResourcesSkill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateServiceResourceList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateServiceResourceList</name>
        <label>Create Service Resource List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ListServiceResourceSkill</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ServiceResourceRecord</name>
        <label>ServiceResource</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopServiceResource</targetReference>
        </connector>
        <inputReference>ServiceResource</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetSkill</name>
        <label>Get Skill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentServiceResource</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RoleRunning</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListServiceResources</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListServiceResourceSkill</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceResourceSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
</Flow>
