default/flows/AfterCreateandUpdateProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AssignmentFinalValue</name>
        <label>Assignment Final Valu</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedService.TotalAmountWithVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedService.VATAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedService.TotalAmountWithVAT__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRelatedService.TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentValuesFromProdutstoServiceRelated</name>
        <label>Assignment Values From Produts to Service Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedService.VATAmount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRelatedProducts.VatAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedService.TotalAmount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRelatedProducts.TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentValuetonull</name>
        <label>Assignment Value to null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedService.TotalAmountWithVAT__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedService.TotalAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedService.VATAmount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedProducts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>After Create and Update | Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Create and Update | Products</label>
    <loops>
        <name>LoopRelatedProducts</name>
        <label>Loop Related Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetRelatedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentValuesFromProdutstoServiceRelated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignmentFinalValue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedProducts</name>
        <label>Get Related Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IDService__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IDService__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Products__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedService</name>
        <label>Get Related Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentValuetonull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IDService__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecords</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetRelatedService</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedProducts</targetReference>
        </connector>
        <object>Products__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
