default/flows/BeforeUpdateOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AssigmentCompletedDateTimeToNow</name>
        <label>Assigment Completed Date Time To Now</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CompletedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollaboratorIsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentDateTimeAvance</name>
        <label>Assignment Date Time Avance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DateTimeFilledAvance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionReasonForNoAppointmentScheduledIsChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentFilledContactCurrentDateTime</name>
        <label>Assignment Filled Contact Current Date Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.FilledContactDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IstoUpdateLastUpdateDateTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentLastStatusDateTime</name>
        <label>Assignment Last Status Date/Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastStatusDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StatusChangedToClose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentReasonForNoAppointmentScheduled</name>
        <label>Assignment Reason For No Appointment Scheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DateTimeReasonNoAppointmentScheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionisToCreatePendienteCita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingmentDateTimeAssignment</name>
        <label>Assingment Date Time Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DateTimeAssignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StatusisAvance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingmentFilledPedienteCitaAux</name>
        <label>Assingment Filled Pediente Cita Aux</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.FilledPendienteCitaAux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilledPedienteCita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SupplierFilled30MinutesAfter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SupplierFilled12HoursAfter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentFilledContactCurrentDateTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateLastUpdateTimeCustom</name>
        <label>Update Last Update Time Custom</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastUpdateDateTimeCustom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>ErrorOpenEncargos</name>
        <label>Error Open Encargos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusChangedToCompleted</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Servicios en estado abierto</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>AccountRecordType</name>
        <label>Account Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusisAvance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suppplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingmentDateTimeAssignment</targetReference>
            </connector>
            <label>Suppplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CollaboratorIsChanged</name>
        <label>Collaborator is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusisAvance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhatisGrandAccount</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionisToCreatePendienteCita</name>
        <label>Decision is To Create &quot;Pendiente Cita&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IstoUpdateLastUpdateDateTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsToCreate</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLYO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Urgent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingmentFilledPedienteCitaAux</targetReference>
            </connector>
            <label>Yes, is to create</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionReasonForNoAppointmentScheduledIsChanged</name>
        <label>Decision  Reason For No Appointment Scheduled Is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionisToCreatePendienteCita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsChanged</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReasonForNoAppointmentScheduled__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReasonForNoAppointmentScheduled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job Cancelled. Compensation Granted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLYO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentReasonForNoAppointmentScheduled</targetReference>
            </connector>
            <label>Yes Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>EncargosOpenNotNull</name>
        <label>Encargos Open Not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusChangedToCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveEncargosOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEncargosOpen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorOpenEncargos</targetReference>
            </connector>
            <label>Have Encargos Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>IstoUpdateLastUpdateDateTime</name>
        <label>Is to Update Last Update Date Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsToUpdate</name>
            <conditionLogic>(1 or 2) AND 3 AND (4 or 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLYO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLastUpdateTimeCustom</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChanged</name>
        <label>Status Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusChangedToClose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentLastStatusDateTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChangedToClose</name>
        <label>Status Changed To Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusChangedToCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesChangedToClose</name>
            <conditionLogic>1 AND(  2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operational Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMultiGuild</targetReference>
            </connector>
            <label>Yes Changed To Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChangedToCompleted</name>
        <label>Status changed To Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CollaboratorIsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesisChangedtoClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentCompletedDateTimeToNow</targetReference>
            </connector>
            <label>Yes is Changed to Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusisAvance</name>
        <label>Status is Avance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionReasonForNoAppointmentScheduledIsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsAvance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentDateTimeAvance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatisGrandAccount</name>
        <label>What is Grand Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusisAvance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PLYO_OR_SLA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLYO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>PLYO OR SLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>FilledPedienteCita</name>
        <dataType>DateTime</dataType>
        <expression>CASE(
    WEEKDAY(DATEVALUE(NOW())),

    1, NOW() ,
    2, NOW(),
    3, NOW() ,
    4, NOW()  + 2,
    5, NOW() + 1,
    6, NOW(),
    7, NOW(),

    NOW()
)</expression>
    </formulas>
    <interviewLabel>Before Update | Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Update | Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecordType</name>
        <label>Get Account Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEncargosOpen</name>
        <label>Get Encargos Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EncargosOpenNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMultiGuild.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado/Anulado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Servicio Cerrado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado/Anulado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMultiGuild</name>
        <label>Get MultiGuild</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEncargosOpen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multiguild</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
