default/flows/CaseCreateUpdateBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AssignmentCancelledDate</name>
        <label>Assignment Cancelled Date</label>
        <locationX>380</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.CancelledDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsNewOrContactIdChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentCloseReopen</name>
        <label>Assignment Close Reopen</label>
        <locationX>248</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReopeningCloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ReopenedDaysCounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaReopenedDaysCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ReopeningReason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ReopeningDescription__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ReopenLogicisChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentLastModifiedDateCustom</name>
        <label>Assignment Last Modified Date Custom</label>
        <locationX>248</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastModifiedDateCustom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignmentLastReopenDaywithnow</name>
        <label>Assignment Last Reopen Day with now</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastReopeningDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StatusChangedtoClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentLastReopenWithLastReopen</name>
        <label>Assignment Last Reopen With Last Reopen</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastReopeningDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReopeningDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StatusChangedtoClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentMailingInformation</name>
        <label>Assignment Mailing Information</label>
        <locationX>116</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingInformation__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingInformation__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingInformation__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingInformation__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingInformation__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsNewOrContactIdChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentOperationalClosedDate</name>
        <label>Assignment Operational Closed Date</label>
        <locationX>644</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.OperationalClosedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsNewOrContactIdChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentReopenInformation</name>
        <label>Assignment Reopen Information</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>$Record.ReopeningDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ReopeningCloseDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ReopeningCounter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReopeningDateisNullDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingmnetCaseFields</name>
        <label>Assingmnet Case Fields</label>
        <locationX>248</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsVIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.IsVIP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PreferredLanguage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.PreferredLanguage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUpdateAndConditionstocreateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactDescription</name>
        <label>Set Contact Description</label>
        <locationX>248</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentApprovalStatus</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error</name>
        <label>Custom Error</label>
        <locationX>292</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>CreatedOrUpdated</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>¡El propietario no está activo!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>CustomErrorEncargosOpen</name>
        <label>Custom Error Encargos Open</label>
        <locationX>94</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>ContactFieldstoCase</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>¡Hay encargos pendientes!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>AssignmentApprovalStatus</name>
        <label>Decision Last Reopen Close Date</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>ReopenLogicisChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReopeningDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentCloseReopen</targetReference>
            </connector>
            <label>Finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactFieldstoCase</name>
        <label>Contact Fields to Case</label>
        <locationX>380</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>IsUpdateAndConditionstocreateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactIdnotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Contact Id not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreatedOrUpdated</name>
        <label>Created Or Updated?</label>
        <locationX>380</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>StatusUpdatedTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentMailingInformation</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionOwnerIsUserIsNeworUpdate</name>
        <label>Decision Owner is User, is new or Update</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>CreatedOrUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EncargosInOpenStatus</name>
        <label>Encargos in Open Status</label>
        <locationX>226</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>ContactFieldstoCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContainsEncargosWithOpenStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedEncargos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomErrorEncargosOpen</targetReference>
            </connector>
            <label>Contains Encargos With Open Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewOrContactIdChanged</name>
        <label>IsNew Or Contact Id Changed</label>
        <locationX>380</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>AssignmentApprovalStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(3 AND 1 ) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactDescription</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUpdateAndConditionstocreateTask</name>
        <label>Is Update And Conditions to create Task</label>
        <locationX>380</locationX>
        <locationY>3587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllConditions</name>
            <conditionLogic>1 AND (2 OR 3) AND  4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrandAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLYO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentLastModifiedDateCustom</targetReference>
            </connector>
            <label>All Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerIsAcive</name>
        <label>Owner Is Acive?</label>
        <locationX>204</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Custom_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatedOrUpdated</targetReference>
            </connector>
            <label>Yes is</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReopeningDateisNullDecision</name>
        <label>Reopening Date is Null Decision</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>AssignmentLastReopenWithLastReopen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReopeningDateisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastReopeningDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentLastReopenDaywithnow</targetReference>
            </connector>
            <label>Reopening Date is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReopenLogicisChanged</name>
        <label>Reopen Logic is Changed</label>
        <locationX>380</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>StatusChangedtoClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsChanged</name>
            <conditionLogic>(5 AND 1) OR ((2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReopeningApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operational Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReopeningApprovalStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentReopenInformation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusChangedtoClosed</name>
        <label>Status Changed to Closed</label>
        <locationX>380</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>ContactFieldstoCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TrueClosed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operational Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedEncargos</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusUpdatedTo</name>
        <label>Status Updated To</label>
        <locationX>644</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>IsNewOrContactIdChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Anulado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anulado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentCancelledDate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Anulado</label>
        </rules>
        <rules>
            <name>CierreOperacional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cierre Operativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentOperationalClosedDate</targetReference>
            </connector>
            <label>Cierre Operacional</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CounterReopening</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ReopeningCounter__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FormulaReopenedDaysCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ReopenedDaysCounter__c} + ({!$Record.ReopeningCloseDate__c} - {!$Record.ReopeningDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Case | Create &amp; Update | Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Create &amp; Update | Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>248</locationX>
        <locationY>3287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssingmnetCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwner</name>
        <label>Get Owner</label>
        <locationX>204</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OwnerIsAcive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedEncargos</name>
        <label>Get Related Encargos</label>
        <locationX>226</locationX>
        <locationY>2687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EncargosInOpenStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Operational Closure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionOwnerIsUserIsNeworUpdate</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
