default/flows/CaseActionNewInsurableCoverages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Insurable_Coverage</name>
        <label>Assign Insurable Coverage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InsurableCoverageConversion.Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_to_Insurable_Converage.Claim__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurableCoverageConversion.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_to_Insurable_Converage.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurableCoverageConversion.CoverageAmountLimit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_to_Insurable_Converage.CoverageAmountLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurableCoverageConversion.DeductibleAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_to_Insurable_Converage.DeductibleAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurableCoverageConversion.Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_to_Insurable_Converage.Coverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListInsurableCoverages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsurableCoverageConversion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_to_Insurable_Converage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_List</name>
        <label>Assign Name to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListRepeatedCoverages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Repeated_Coverages.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Repeated_Coverages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentPossible</name>
        <label>Assignment Possible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PossibleCoverages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopNamesPossible.Guarantee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNamesPossible</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Coverages_Selected</name>
        <label>Coverages Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCoverages</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_to_Insurable_Converage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case | Action | New Insurable Coverage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case | Action | New Insurable Coverage</label>
    <loops>
        <name>Add_Repeated_Coverages</name>
        <label>Add Repeated Coverages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Insurable_Coverages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetPossibleList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Convert_to_Insurable_Converage</name>
        <label>Convert to Insurable Converage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SelectedCoverages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Insurable_Coverage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Insurable_Coverages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNamesPossible</name>
        <label>LoopNamesPossible</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetPossibleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentPossible</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Claim_Coverage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Insurable_Coverages</name>
        <label>Create Insurable Coverages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Screen</targetReference>
        </connector>
        <inputReference>ListInsurableCoverages</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Claim_Coverage</name>
        <label>Get Claim Coverage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coverage_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ListRepeatedCoverages</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>PossibleCoverages</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Coverages__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurable_Coverages</name>
        <label>Get Insurable Coverages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Repeated_Coverages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurableCoverage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurable_Coverages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPossibleList</name>
        <label>GetPossibleList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopNamesPossible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Reason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.SubReason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoverageVSWarranty__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Coverage_Selection</name>
        <label>Coverage Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Coverages_Selected</targetReference>
        </connector>
        <fields>
            <name>Coverage_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Coverage_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Coverage_Selection_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select Coverages from the Table, in order to create Insurable Coverages:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Coverages_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Coverages__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Coverage Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claim_Coverage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-58b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Coverage Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CoverageAmountLimit__c&quot;,&quot;guid&quot;:&quot;column-494a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Coverage Amount Limit&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Coverage__c&quot;,&quot;guid&quot;:&quot;column-f767&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Coverage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeductibleAmount__c&quot;,&quot;guid&quot;:&quot;column-375f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Deductible Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCoverages</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Coverage_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Coverage_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_Screen</name>
        <label>Created Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Created_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Created_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Created_Screen_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following Insurable Coverages were created:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Created_Insurable_Coverages_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>InsurableCoverage__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Created Insurable Coverages Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ListInsurableCoverages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-e890&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aca3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Code&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Insurable Coverage Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CoverageAmountLimit__c&quot;,&quot;guid&quot;:&quot;column-01ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Coverage Amount Limit&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Coverage__c&quot;,&quot;guid&quot;:&quot;column-63c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Coverage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeductibleAmount__c&quot;,&quot;guid&quot;:&quot;column-b384&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Deductible Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value/>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Created_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Created_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InsurableCoverageConversion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurableCoverage__c</objectType>
    </variables>
    <variables>
        <name>ListInsurableCoverages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurableCoverage__c</objectType>
    </variables>
    <variables>
        <name>ListRepeatedCoverages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PossibleCoverages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCoverages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Coverages__c</objectType>
    </variables>
</Flow>
