default/flows/FlowActionCreateSolicitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigateEverywhereLFA_Action_1</name>
        <label>navigateEverywhereLFA Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>formulafield</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavigateEverywhereLFAAction2</name>
        <label>NavigateEverywhereLFA Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>formulaFieldIncident</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>AssignmentId</name>
        <label>Assignment Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>navigateEverywhereLFA_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentIds</name>
        <label>Assignment  Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEncargo.CaseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EncargoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEncargo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>navigateEverywhereLFA_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WhatIsTheObjectionRunning</name>
        <label>What is the objection Running?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Claim</defaultConnectorLabel>
        <rules>
            <name>Encargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEncargo</targetReference>
            </connector>
            <label>Encargo</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatistheObjecttocreate</name>
        <label>What is the Object to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenButton1</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
        <rules>
            <name>Solicitations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenButton</targetReference>
            </connector>
            <label>Solicitations</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulafield</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Solicitation__c/new?defaultFieldValues=Claim__c=&quot; + {!CaseId} + &quot;,Order__c=&quot; + {!EncargoId}</expression>
    </formulas>
    <formulas>
        <name>formulaFieldIncident</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Incident/new&quot;</expression>
    </formulas>
    <interviewLabel>Flow Action | Create Solicitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Action | Create Solicitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetClaim</name>
        <label>Get Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEncargo</name>
        <label>Get Encargo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenButton</name>
        <label>Screen Button</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhatIsTheObjectionRunning</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Crear Solicitud</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenButton1</name>
        <label>Screen Button 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateEverywhereLFAAction2</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Crear Incidencia</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatistheObjecttocreate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncargoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectToCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Solicitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solicitation__c</objectType>
    </variables>
</Flow>
