default/flows/FlowActionCreateRelatedObjects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navigateEverywhereLFA_Action_1</name>
        <label>navigateEverywhereLFA Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>formulafield</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigateEverywhereLFA_Action_4</name>
        <label>navigateEverywhereLFA Action 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Service__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>ServiceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavigateEverywhereLFAAction2</name>
        <label>NavigateEverywhereLFA Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>formulaFieldIncident</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavigateEverywhereLFAAction3</name>
        <label>NavigateEverywhereLFA Action 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>formulaComments</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NavigateEverywhereLFAAction4</name>
        <label>NavigateEverywhereLFA Action 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>formulaImplicados</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>AssigmentId</name>
        <label>Assigment Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LooptoAssign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LooptoAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentCountListServices</name>
        <label>Assignment Count List Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CountServices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopisOnly1Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentId</name>
        <label>Assignment Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhatistheObjecttocreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentIds</name>
        <label>Assignment  Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEncargo.CaseNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EncargoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEncargo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhatistheObjecttocreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentRecordTypeId</name>
        <label>Assignment Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EncargoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRelatedtoOrder.Guild__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apertura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Stakeholder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStakeHolder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentServiceIds</name>
        <label>Assignment Service Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServicesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopServices.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopServices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmenttoList</name>
        <label>Assignment to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListGuildLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentType</name>
        <label>Assignment type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListGuildLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmenttoList</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Guild</name>
        <choiceText>{!GetAccountRelatedtoOrder.Guild__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GetAccountRelatedtoOrder.Guild__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>LoopisOnly1Record</name>
        <label>Loop is Only 1 Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountServices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LooptoAssign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatIsTheObjectionRunning</name>
        <label>What is the objection Running?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Claim</defaultConnectorLabel>
        <rules>
            <name>Encargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEncargo</targetReference>
            </connector>
            <label>Encargo</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatistheObjecttocreate</name>
        <label>What is the Object to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenButton1</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
        <rules>
            <name>Solicitations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solicitations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenButton</targetReference>
            </connector>
            <label>Solicitations</label>
        </rules>
        <rules>
            <name>Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenButton2</targetReference>
            </connector>
            <label>Comments</label>
        </rules>
        <rules>
            <name>StakeHolder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StakeHolder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenButton4</targetReference>
            </connector>
            <label>StakeHolder</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Choices</name>
        <collectionReference>MultiPickListChoices</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectStakeHolder</name>
        <collectionReference>GetAllStakeHoldersRelated</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Stakeholders__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>formulaComments</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Comments__c/new?defaultFieldValues=Case__c=&quot; + {!CaseId} + &quot;,Order__c=&quot; + {!EncargoId}</expression>
    </formulas>
    <formulas>
        <name>formulafield</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Solicitation__c/new?defaultFieldValues=Claim__c=&quot; + {!CaseId} + &quot;,Order__c=&quot; + {!EncargoId}</expression>
    </formulas>
    <formulas>
        <name>formulaFieldIncident</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Incident/new?defaultFieldValues=NestedCaseID__c=&quot; + {!CaseId} + &quot;,OrderService__c=&quot; + {!EncargoId}</expression>
    </formulas>
    <formulas>
        <name>formulaFieldService</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Service__c/new?defaultFieldValues=RecordTypeId=&quot; + {!GetRecordType.Id} + &quot;,Claim__c=&quot; + {!CaseId} + &quot;,Order__c=&quot; + {!EncargoId}</expression>
    </formulas>
    <formulas>
        <name>formulaImplicados</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/o/Stakeholders__c/new?defaultFieldValues=Case__c=&quot; + {!CaseId}</expression>
    </formulas>
    <interviewLabel>Flow Action | Create Related Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Action | Create Related Objects</label>
    <loops>
        <name>ListGuildLoop</name>
        <label>List Guild</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>listGuild</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateServices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopServices</name>
        <label>Loop Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetServices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentServiceIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignmentRecordTypeId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LooptoAssign</name>
        <label>Loop to Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ListServices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigmentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>navigateEverywhereLFA_Action_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateServices</name>
        <label>Create Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignmentCountListServices</targetReference>
        </connector>
        <inputReference>ListServices</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccountRelatedtoOrder</name>
        <label>Get Account Related to Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEncargo.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllStakeHoldersRelated</name>
        <label>Get All StakeHolders Related</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MKISId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Stakeholders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaim</name>
        <label>Get Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStakeHolder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEncargo.CaseNumber__r.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEncargo</name>
        <label>Get Encargo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRelatedtoOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multiguild</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServices</name>
        <label>Get Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopServices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelado/Anulado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStakeHolder</name>
        <label>Get StakeHolder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllStakeHoldersRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stakeholders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenButton</name>
        <label>Screen Button</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>navigateEverywhereLFA_Action_1</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Crear Solicitud</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenButton1</name>
        <label>Screen Button 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateEverywhereLFAAction2</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Crear Incidencia</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenButton2</name>
        <label>Screen Button 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateEverywhereLFAAction3</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Crear Comentario</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenButton4</name>
        <label>Screen Button 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateEverywhereLFAAction4</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Crear Implicado</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenRecord</name>
        <label>Screen Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenRecordGuild</targetReference>
        </connector>
        <fields>
            <name>ScreenRecord_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenRecord_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceRecord.Status__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Implicado</name>
                    <choiceReferences>SelectStakeHolder</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetStakeHolder.Id</elementReference>
                    </defaultValue>
                    <fieldText>Implicado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceRecord.Situation__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenRecord_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceRecord.StartDate__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceRecord.EndDate__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceRecord.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenRecordGuild</name>
        <label>Screen Record Guild</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ListGuildLoop</targetReference>
        </connector>
        <fields>
            <name>ScreenRecordGuild_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenRecordGuild_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_GuildSelector</name>
                    <extensionName>c:guildFlowSelector</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>guildValues</name>
                        <value>
                            <elementReference>GetAccountRelatedtoOrder.Guild__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Grémio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>multiple</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orderId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>providerId</name>
                        <value>
                            <elementReference>GetAccountRelatedtoOrder.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>emptyMessage</name>
                        <value>
                            <stringValue>No hay gremios disponibles para elegir.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>relatedServiceIds</name>
                        <value>
                            <elementReference>ServicesIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stakeHolderSelected</name>
                        <value>
                            <elementReference>Implicado</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>listGuild</assignToReference>
                        <name>selectedApiValues</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenRecordGuild_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatIsTheObjectionRunning</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountServices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EncargoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listGuild</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>MultiPickListChoices</name>
        <apexClass>MultiPicklistChoiceOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectToCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>service2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PopUP_Service__e</objectType>
    </variables>
    <variables>
        <name>ServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>ServicesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Solicitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Solicitation__c</objectType>
    </variables>
</Flow>
