default/flows/IncidentCreateUpdateUpdateResponsibleParty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Responsable_Party_Claims_Handler_Name</name>
        <label>Assign Responsable Party Claims Handler Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResponsibleParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NestedCaseID__r.ClaimsHandlerName__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignmentStartDate</name>
        <label>Assignment Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dummy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResponsiblePartyTypeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignResponsablePartyCollaboratorName</name>
        <label>Assign Responsable Party Collaborator Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResponsibleParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedOrder.Account.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignResponsablePartyExpertName</name>
        <label>Assign Responsable Party Expert Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResponsibleParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedService.ExpertName__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignResponsablePartyGrandAccount</name>
        <label>Assign Responsable Party Grand Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResponsibleParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NestedCaseID__r.GrandAccount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignResponsablePartyUserName</name>
        <label>Assign Responsable Party User Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResponsibleParty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forUserName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsNewDecision</name>
        <label>Is New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ResponsiblePartyTypeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentStartDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponsiblePartyTypeChanged</name>
        <label>ResponsiblePartyType__c is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyResponsiblePartyType</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyResponsiblePartyType</name>
        <label>Verify ResponsiblePartyType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseHandler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Responsable_Party_Claims_Handler_Name</targetReference>
            </connector>
            <label>Case Handler</label>
        </rules>
        <rules>
            <name>Repairer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedOrder</targetReference>
            </connector>
            <label>Repairer</label>
        </rules>
        <rules>
            <name>Adjuster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>Adjuster</label>
        </rules>
        <rules>
            <name>Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignResponsablePartyUserName</targetReference>
            </connector>
            <label>Operator</label>
        </rules>
        <rules>
            <name>InsuranceCompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResponsiblePartyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignResponsablePartyGrandAccount</targetReference>
            </connector>
            <label>Insurance Company</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>forUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+ &apos; &apos; +{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Incident | Create &amp; Update | Update Responsible Party {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident | Create &amp; Update | Update Responsible Party</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRelatedService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExpertAssessment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOrder</name>
        <label>Get Related Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignResponsablePartyCollaboratorName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NestedCaseID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedService</name>
        <label>Get Related Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignResponsablePartyExpertName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NestedCaseID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsNewDecision</targetReference>
        </connector>
        <object>Incident</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
