default/flows/TaskNewChildTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetPossibleDisplayValues</name>
        <label>Get Possible Display Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SubjectFilterUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EachPossibleValues</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>consumidos</name>
            <value>
                <elementReference>ExistingSubjects</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>possiveis</name>
            <value>
                <elementReference>PossibleValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SubjectFilterUtil</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PossibleValuesrApex</assignToReference>
            <name>naoConsumidos</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_subjects</name>
        <label>Add subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingSubjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRelatedTask.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentMetadataInformation</name>
        <label>Assignment Metadata Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TreeSubject.ChildSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachPossibleValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TreeSubject.NamespacePrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachPossibleValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentToDisplay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentPossibleValues</name>
        <label>Assignment PossibleValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PossibleValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGetSubjects.ChildSubject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGetSubjects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSubject</name>
        <label>Assignment Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Subjectss</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentToDisplay</name>
        <label>Assignment  To Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DisplaySubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TreeSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EachPossibleValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssignmentToDisplayEmpty</name>
        <label>Assignment  To Display is Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ChooseSubject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplaySubject</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNoPossibleSubtask</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetSubjectsarenull</name>
        <label>Get Subjects are null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LoopGetSubjects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesv2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSubjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_No_Exist_Subtask</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskCompleted</name>
        <label>Task Completed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetChildRelatedTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Subjects</name>
        <collectionReference>DisplaySubject</collectionReference>
        <dataType>String</dataType>
        <displayField>ChildSubject__c</displayField>
        <object>TaskSubjectTree__mdt</object>
        <valueField>NamespacePrefix</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Task | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task | New Child Task</label>
    <loops>
        <name>EachPossibleValues</name>
        <label>Each Possible Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PossibleValuesrApex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentMetadataInformation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignmentToDisplayEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopGetSubjects</name>
        <label>Loop Get Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetSubjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentPossibleValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetPossibleDisplayValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRelatedTask</name>
        <label>Loop Related Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetChildRelatedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_subjects</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetSubjects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateParent</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LookupTask__c</field>
            <value>
                <elementReference>GetTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentSubject__c</field>
            <value>
                <elementReference>GetTask.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subjectss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetChildRelatedTasks</name>
        <label>Get Child Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRelatedTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LookupTask__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubjects</name>
        <label>Get Subjects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubjectsarenull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentSubject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.Subject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TaskSubjectTree__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>Get Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateParent</name>
        <label>Update Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>ChooseSubject</name>
        <label>Choose a Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignmentSubject</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <choiceReferences>Subjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erro</name>
        <label>Erro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AllDone</name>
            <fieldText>&lt;p&gt;It is not possible to create a subtask because the main task is completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_No_Exist_Subtask</name>
        <label>Screen No Exist Subtask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoSubTaskExist</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;There are no subtasks for this task.
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNoPossibleSubtask</name>
        <label>Screen No Possible Subtask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoSubTaskPossible</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;There are no possible subtasks for this task.
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlreadyExist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColSubjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskSubjectTree__mdt</objectType>
    </variables>
    <variables>
        <name>DisplaySubject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskSubjectTree__mdt</objectType>
    </variables>
    <variables>
        <name>ExistingSubjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PossibleValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PossibleValuesrApex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subjectss</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TreeSubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskSubjectTree__mdt</objectType>
    </variables>
    <variables>
        <name>varChildSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChildTaskSubjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInsertTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TaskSubjectTree__mdt</objectType>
    </variables>
    <variables>
        <name>varTemChildTaskOpen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTemChildTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varToday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
